# CONFIG_OPLUS_FEATURE_SUGOV_POWER_EFFIENCY is not set
# CONFIG_OPLUS_FEATURE_OCH is not set
# CONFIG_OPLUS_FEATURE_QCOM_WATCHDOG is not set
# CONFIG_OPLUS_FEATURE_THEIA is not set
# CONFIG_OPLUS_FEATURE_GKI_CPUFREQ_BOUNCING is not set
# CONFIG_OPLUS_FEATURE_SCHED_ASSIST is not set
# CONFIG_OPLUS_FEATURE_TASK_SCHED is not set
# CONFIG_OPLUS_SECURE_COMMON is not set
# CONFIG_OPLUS_FEATURE_MIDAS_GKI is not set
# CONFIG_OPLUS_FEATURE_RT_INFO is not set
# CONFIG_OPLUS_SENSOR_CONSUMER_IR_QC is not set
# CONFIG_OPLUS_FEATURE_CDT is not set
# CONFIG_OPLUS_FEATURE_FORCE_SHUTDOWN is not set
# CONFIG_BOOTLOADER_LOG is not set
# CONFIG_OPLUS_FEATURE_HANS is not set
# CONFIG_OPLUS_FEATURE_ATD is not set
# CONFIG_HORAE_THERMAL_SHELL is not set
# CONFIG_OPLUS_FEATURE_HEALTHINFO is not set
# CONFIG_OPLUS_FEATURE_TASK_CPUSTATS is not set
# CONFIG_OPLUS_FEATURE_TASK_LOAD is not set
# CONFIG_VIRTUAL_RESERVE_MEMORY is not set
# CONFIG_MEMLEAK_DETECT is not set
# CONFIG_OPLUS_FEATURE_APP_MONITOR is not set
# CONFIG_OPLUS_FEATURE_WIFI_SLA is not set
# CONFIG_OPLUS_FEATURE_DNS_HOOK is not set
# CONFIG_OPLUS_FEATURE_QR_SCAN is not set
# CONFIG_OPLUS_FEATURE_STATS_CALC is not set
# CONFIG_OPLUS_FEATURE_DATA_EVAL is not set
# CONFIG_OPLUS_KERNEL_SECURE_GUARD is not set
# CONFIG_OPLUS_KERNEL_SECURE_GUARD is not set
# CONFIG_OPLUS_KERNEL_SECURE_KEVENTUPLOAD is not set
# CONFIG_OPLUS_FINGERPRINT_GOODIX_OPTICAL is not set
# CONFIG_OPLUS_FINGERPRINT_COMMON is not set
# CONFIG_OPLUS_RF_CABLE_MONITOR is not set
# CONFIG_OPLUS_SENSOR_FB_QC is not set
# CONFIG_OPLUS_FEATURE_SAUPWK is not set
# CONFIG_OPLUS_FEATURE_DUMP_DEVICE_INFO is not set
# CONFIG_OPLUS_FEATURE_HUNG_TASK_ENHANCE is not set
# CONFIG_OPLUS_FEATURE_MDMFEATURE is not set
# CONFIG_OPLUS_FEATURE_PHOENIX is not set
# CONFIG_OPLUS_FEATURE_PMIC_MONITOR is not set
# CONFIG_OPLUS_FEATURE_SAUPWK is not set
# CONFIG_OPLUS_FEATURE_SHUTDOWN_DETECT is not set
# CONFIG_DUMP_TASKS_MEM is not set
# CONFIG_HYBRIDSWAP_ZRAM is not set
CONFIG_ZRAM=m
# CONFIG_OPLUS_FEATURE_ZRAM_OPT is not set
# CONFIG_OPLUS_FEATURE_DUMP_REASON is not set

# CONFIG_OPLUS_FEATURE_PERFORMANCE_SCHED is not set
# CONFIG_OPLUS_FEATURE_SCHED_SPREAD is not set
# CONFIG_OPLUS_FEATURE_SF_BOOST is not set
# CONFIG_OPLUS_BINDER_PRIO_SKIP is not set
# CONFIG_OPLUS_FEATURE_HWC_BOOST is not set
# CONFIG_OPLUS_FEATURE_INPUT_BOOST is not set
# CONFIG_OPLUS_FEATURE_PERFORMANCE_FS is not set
# CONFIG_OPLUS_FEATURE_PERFORMANCE_MM is not set
# CONFIG_OPLUS_FEATURE_MM_BOOSTPOOL is not set
# CONFIG_OPLUS_FINGERPRINT is not set
# CONFIG_OPLUS_FINGERPRINT_QCOM is not set
# CONFIG_UFF_FINGERPRINT_QCOM is not set
# CONFIG_OPLUS_FINGERPRINT_GKI_ENABLE is not set
# CONFIG_OPLUS_FEATURE_SUGOV_TL is not set
# CONFIG_OPLUS_FEATURE_SECURE_ROOTGUARD is not set
# CONFIG_OPLUS_FEATURE_SECURE_CAPGUARD is not set
# CONFIG_OPLUS_FEATURE_SECURE_EXECGUARD is not set
# CONFIG_OPLUS_FEATURE_SECURE_SRGUARD is not set
# CONFIG_OPLUS_FEATURE_SECURE_SOCKETGUARD is not set
# CONFIG_OPLUS_FEATURE_BINDER_STATS_ENABLE is not set
